@import url(./__item/photo-grid__item.css);

.photo-grid {
  min-height: 671px;
  max-width: 1184px;
  width: 92.5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 284px);
  grid-template-rows: repeat(auto-fit, 1fr);
  justify-content: center;
  align-self: center;
  grid-gap: 16px;
  margin: 0 auto 92px;
}