.places {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 984px;
  width: 984px;
  min-height: 3392px;
  margin: 0 auto 92px;
  outline: 1px solid white;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: 928px;
    width: 928px;
  }
}
@media screen and (max-width: 768px) {
  .places {
    min-width: 720px;
    width: 93.75%;
    min-height: 2802px;
    margin: 0 auto 88px;
  }
}

@media screen and (max-width: 720px) {
  .places {
    min-width: 320px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    display: block;
    width: 100%;
    margin-bottom: 64px;
  }
}