.places {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 984px;
  width: 100%;
  margin: 0 auto 92px;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: 90.62vw;
  }
}

@media screen and (max-width: 768px) {
  .places {
    max-width: 93.75vw;
    margin: 0 24px 88px;
  }
}

@media screen and (max-width: 700px) {
  .places {
    margin: 0 auto 88px;
  }
}

@media screen and (max-width: 340px) {
  .places {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 100vw;
    margin: 0 auto 64px;
  }
}