.place__image {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 460px;
  width: 100%;
  grid-row: 2/ 3;
  grid-column: 1;
 }

 @media screen and (max-width: 745px) {
    .place__image {
       margin-bottom: 40px;
    }
 }