.intro__list {
  margin: 0 auto;
  padding-left: 0;
  max-width: 690px;
  height: 90px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.5;
  list-style: none;
  color: #fff;
}