@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__image/lead__image.css);
@import url(./__caption/lead__caption.css);

.lead {
  max-height: 1005px;
  margin: 0 auto 92px;
  max-width: 984px;
  width: 76.87%;
}

@media screen and (max-width: 1024px) {
  .lead {
    max-height: 962px;
    max-width: 928px;
    width: 90.62%;
  }
}
@media screen and (max-width: 768px) {
  .lead {
    max-height: 862px;
    margin: 0 0 88px;
    max-width: 768px;
    width: 100%;
  }
}
@media screen and (max-width: 320px) {
  .lead {
    max-height: 406px;
    margin: 0 2px 64px;
    max-width: 320px;
    width: 100%;
  }
}