@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__image/lead__image.css);
@import url(./__caption/lead__caption.css);

.lead {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 125.62%;
  min-height: 962px;
  max-width: 984px;
  min-width: 1024px;
  width: 76.87%;
  margin: 0 auto 92px;
}

@media screen and (max-width: 1100px) {
  .lead {
    width: 100%;
    min-height: 879px;
    min-width: 900px;
  }
}

@media screen and (max-width: 900px) {
  .lead {
    min-height: 550px;
    min-width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    min-height: 500px;
    margin-bottom: 88px;
    min-width: 320px;
    width: 100%;
  }
}
@media screen and (max-width: 760px) {
  .lead {
    min-width: 450px;
    width: 95%;
  }
}

@media screen and (max-width: 460px) {
  .lead {
    min-width: 316px;
    width: 96%;
  }
}

@media screen and (max-width: 325px) {
  .lead {
    min-height: 406px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 64px;
    min-width: 316px;
  }
}