.cover__subtitle {
  width: 360px;
  height: 66px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  margin-top: 0;
  margin-bottom: 245px;
  text-align: center;
  color: #fff;
}