.cover__subtitle {
  max-width: 360px;
  margin: 0;
  font-family: 'Inter', 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #fff;
  opacity: 1;
  margin-bottom: 19.14vw;
}

@media screen and (max-width: 1024px) {
  .cover__subtitle {
    margin-bottom: 19.04vw;
  }
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    margin-bottom: 14.97vw;
  }
}

@media screen and (max-width: 570px) {
  .cover__subtitle {
    font-size: 14px;
  }
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    max-width: 288px;
    margin-bottom: 33px;
  }
}