.cover__subtitle {
  width: 360px;
  height: 66px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  margin-top: 0;
  margin-bottom: 245px;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .cover__subtitle {
    width: 360px;
    height: 66px;
    margin-bottom: 195px;
  }
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    width: 360px;
    height: 66px;
    margin-bottom: 115px;
  }
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    width: 288px;
    height: 48px;
    font-size: 14px;
    margin-bottom: 33px;
  }
}