@import url(./__logo/header__logo.css);
@import url(./__link/header__link.css);

.header {
  display: flex;
  align-items: flex-end;
  max-width: 1184px;
  width: 92.5%;
  max-height: 52px;
  margin: 28px auto 56px;
  background-color: #2A2C2F;
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: 928px;
    margin: 28 auto 48px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 720px;
    margin: 28 auto 48px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 288px;
    max-height: 42px;
    margin: 16px auto 48px;
  }
}