@import url(./__logo/header__logo.css);
@import url(./__nav/header__nav.css);
@import url(./__nav-item/header__nav-item.css);
@import url(./__link/header__link.css);
@import url(./__link/_active/header__link_active.css);

.header {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: space-between;
  justify-content: space-between;
  max-width: 1184px;
  width: 100%;
  background-color: #2A2C2F;
  padding-top: 24px;
  margin: 0 auto 92px;
}

@media screen and (max-width: 1280px) {
  .header {
    max-width: 92.5vw;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    margin-bottom: 48px;
    max-width: 90.62vw;
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 93.75vw;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 288px;
    padding-top: 16px;
  }
}