.footer__author {
  line-height: 1.38;
  font-size: 18px;
  color: white;
  font-weight: normal;
  margin-top: 19px;
  margin-bottom: 19px;
}

@media screen and (max-width: 1024px) {
  
}
@media screen and (max-width: 768px) {
 
}
@media screen and (max-width: 320px) {
 
}