.place__paragraph {
  display: inline-block;
  color: #fff;
  width: 483px;
  order: 4;
  margin: 0;
  justify-content: flex-start;
  outline: 1px solid #fff;
}

.place__paragraph:first-child {
  margin-bottom: 24px;
}

.place__paragraph:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place__paragraph {
    max-width: 456px;
    max-height: 440px;
  }
 }