.place__paragraph {
  color: #fff;
  font-family: 'Inter', 'Ubuntu', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.66;
  text-align: left;
  margin: 0;
  margin-bottom: 24px;
 }

.place__paragraph:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    text-align: left;
  }
}