.lead__image {
 position: relative;
 background-image: url(../../../images/lead/kalegin-michail-179870-unsplash.jpg);
 max-width: 984px;
 min-width: 768px;
 max-height: 615px;
 min-height: 480px;
 width: 100%;
 height: 77vh;
 margin-bottom: 8px;
 background-repeat: no-repeat;
 background-size: 100% auto;
}