.lead__image {
 display: flex;
 align-items: flex-start;
 background-image: url(../../../images/lead/kalegin-michail-179870-unsplash.jpg);
 max-width: 984px;
 width: 984px;
 height: 615px;
 max-height: 615px;
 margin-bottom: 8px;
 background-repeat: no-repeat;
}