.intro__text {
  margin-bottom: 32px;
  margin-top: 0;
  max-width: 690px;
  font-family: 'Inter', 'Ubuntu', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.62;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .intro__text {
    width: 100%;
  }
}
@media screen and (max-width: 330px) {
  .intro__text {
    max-width: 288px;
    margin-right: 0;
  }
}