@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);
@import url(./__info/intro__info.css);
@import url(./__info/_text/intro__info_text_size.css);

.intro {
  display: block;
  text-align: left;
  margin: 0 auto 92px 148px;
  max-width: 690px;
  width: 100%;
}

@media screen and (max-width: 1280px) {
  .intro {
    margin: 0 34.53vw 92px 11.56vw;
  }
}

@media screen and (max-width: 1260px) {
  .intro { 
    margin-left: 138px;
    margin-right: auto;
  }  
}

@media screen and (max-width: 1240px) {
  .intro { 
    margin-left: 128px;
    margin-right: auto;
  }  
}

@media screen and (max-width: 1220px) {
  .intro { 
    margin-left: 118px;
    margin-right: auto;
  }  
}

@media screen and (max-width: 1200px) {
  .intro { 
    margin-left: 108px;
    margin-right: auto;
  }  
}

@media screen and (max-width: 1180px) {
  .intro { 
    margin-left: 98px;
  }  
}

@media screen and (max-width: 1150px) {
  .intro { 
    margin-left: 83px;
  }  
}

@media screen and (max-width: 1124px) {
  .intro { 
    margin-left: 70px;
    margin-right: auto;
  }  
}

@media screen and (max-width: 1090px) {
  .intro { 
    margin-left: 53px;
    margin-right: auto;
  }  
}

@media screen and (max-width: 1050px) {
  .intro { 
    margin-left: 50px;
    margin-right: auto;
  }  
}

@media screen and (max-width: 1024px) {
  .intro { 
    margin-left: 48px;
    margin-right: auto;
  }  
}

@media screen and (max-width: 870px) {
  .intro { 
    margin-left: 51px;
  }  
}

@media screen and (max-width: 840px) {
  .intro { 
    margin-left: 40px;
  }  
}

@media screen and (max-width: 800px) {
  .intro { 
    margin: 0 auto 88px;
  }  
}

@media screen and (max-width: 768px) {
  .intro { 
    max-width: 93.75vw;
  }
}

@media screen and (max-width: 320px) {
  .intro { 
    max-width: 288px; 
    margin: 0 16px 64px;
  }
}