@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);
@import url(./__info/intro__info.css);
@import url(./__info/_number_size/intro__info_number_size.css);

.intro {
  display: block;
  max-width: 690px;
  min-height: 428px;
  margin:0 auto 92px 128px;
  text-align: left;
}
@media screen and (max-width: 1200px) {
  .intro { 
    margin-left: 88px;
    margin-right: auto;
  }  
}

@media screen and (max-width: 1170px) {
  .intro { 
    margin-left: 73px;
    margin-right: auto;
  }  
}

@media screen and (max-width: 1140px) {
  .intro { 
    margin-left: 68px;
    margin-right: auto;
  }  
}

@media screen and (max-width: 1110px) {
  .intro { 
    margin-left: 60px;
    margin-right: auto;
  }  
}

@media screen and (max-width: 1080px) {
  .intro { 
    margin-left: 55px;
    margin-right: auto;
  }  
}

@media screen and (max-width: 1050px) {
  .intro { 
    margin-left: 50px;
    margin-right: auto;
  }  
}

@media screen and (max-width: 1024px) {
  .intro { 
    margin-left: 48px;
    margin-right: auto;
  }  
}

@media screen and (max-width: 870px) {
  .intro { 
    margin-left: 51px;
  }  
}

@media screen and (max-width: 840px) {
  .intro { 
    margin-left: 40px;
  }  
}

@media screen and (max-width: 800px) {
  .intro { 
    margin: 0 auto 88px;
  }  
}

@media screen and (max-width: 768px) {
  .intro { 
    min-width: 720px;
  }
}
@media screen and (max-width: 730px) {
  .intro { 
    min-width: 288px;
    width: 100%;
  }
}

@media screen and (max-width: 325px) {
  .intro { 
    box-sizing: border-box;
    min-width: 288px; 
    max-height: 752px;
    margin: 0 16px 64px;
    width: 90%;
  }
}