@import url(./__background/cover__background.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__overlay/cover__overlay.css);

.cover {
  margin: 0 auto;
  max-width: 1184px;
  min-height: 740px;
  background-image: url(../../images/cover/cover-trains.jpg);
  background-size: cover;
  margin-bottom: 92px;
}