@import url(./__background/cover__background.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__overlay/cover__overlay.css);

.cover {
  margin: 0 auto 92px;
  max-width: 1184px;
  max-height: 740px;
  width: 92.5%;
  min-width: 1024;
  min-height: 740px;
  height: 62.5vw;
  background-image: url(../../images/cover/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@media screen and (max-width: 1184px) {
  .cover {
    min-height: 62.5vw;
  }
}

@media screen and (max-width: 1024px) {
  .cover {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .cover {
    height: 60vw;
    margin-bottom: 88px;
  }
}
@media screen and (max-width: 325px) {
  .cover {
    width: 320px;
    height: 200px;
    margin-bottom: 64px;
  }
}