.place__link {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #fff;
  opacity: 1;
  vertical-align: end;
}

.place__link:hover {
  opacity: .8;
}