.cover__background {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: rgba(42, 44,47, .3);
  color: #fff;
}

.cover__background:hover {
  background-color: rgba(42, 44,47, .8);
}