.lead__caption{
  box-sizing: border-box;
  min-width: 159px;
  font-family: 'Inter', 'Ubuntu', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  margin-top: 8px;
  margin-bottom: 0;
  color: #fff;
  align-self: flex-start;
}

@media screen and (max-width: 768px) {
  .lead__caption {
    margin-left: 24px;
    margin-right: justify;
  }
}

@media screen and (max-width: 630px) {
  .lead__caption {
    margin-left: 16px;
  }
}