.cover__title {
  width: 560px;
  height: 0.27;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.05;
  margin-bottom: 32px;
  color: #fff;
  text-align: center;
}