.cover__title {
  max-width: 560px;
  min-height: 152px;
  font-family: 'Inter', 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.05;
  margin-bottom: 32px;
  color: #fff;
  text-align: center;
  margin-top: 0;
}

@media screen and (max-width: 570px) {
  .cover__title {
    min-width: 288px;
    width: 38.75vw;
    font-size: 32px;
    min-height: 70px;
    margin-bottom: 16px;
  }
}