/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url(./__menu/footer__menu.css);
@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 1184px;
  width: 92.5%;
  height: 18px;
  margin: 0 auto;
  background-color: #2A2C2F;
}

@media screen and (max-width: 1024px) {
  .footer {
    width: 90.62%;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    max-width: 93.75%
  }
}
@media screen and (max-width: 320px) {
  .footer {
    display: inline-block;
    width: 186px;
    height: 320px;
    margin: 0 auto 0 16px;
  }
}