@import url(./__menu/footer__menu.css);
@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1184px;
  width: 92.5%;
  height: 18px;
  margin: 0 auto 24px;
  background-color: #2A2C2F;
}

@media screen and (max-width: 1024px) {
  
}
@media screen and (max-width: 768px) {
 
}
@media screen and (max-width: 320px) {
 
}