.place__url-heading {
  font-family: 'Inter', 'Ubuntu', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 3.2px;
  margin-bottom: 18px;
  color: #AAA;
  text-transform: uppercase;
}