.place__webside {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 456px;
  min-height: 46px;
  order: 2;
  align-self: flex-end;
  margin-bottom: 40px;
  margin-right: auto;
}