.place__webside {
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: end;
          justify-content: flex-end;
  align-self: end;
  min-height: 46px;
  max-width: 456px;
  grid-row: 1;
  grid-column: 2;
}

@media screen and (max-width: 768px) {
  .place__webside {
    width: 352px;
  }
}
@media screen and (max-width: 320px) {
  .place__webside {
    display: none;
    position: absolute;
  }
}