.header__nav-item {
  font-family: 'Inter', 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.16;
  padding: 0;
  margin-right: 18px;
  min-width: 29px;
  min-height: 28px;
}

.header__nav-item:last-of-type {
  margin-right: 0;
  margin-left: 0;
}

@media screen and (max-width: 320px) {
  .header__nav-item {
    font-size: 14px;
    min-width: 22px;
    min-height: 24px;

  }  
}